/* ContentArea.css */

/* 主内容区域的基础样式 */
.content {
    max-height: 700px;
    width: 80%; /* 占据除侧边栏外的剩余宽度 */
    float: right; /* 使内容区在侧边栏右侧 */
    padding: 10px; /* 内边距 */
    background-color: #fff; /* 背景颜色 */
    box-sizing: border-box;
    overflow: scroll; /* 隐藏内容溢出 */
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: separate; /* 用于支持圆角边框 */
    border-spacing: 0;
    margin: 0px auto; /* 增加上下外边距并居中显示 */

}

th, td {
    border-bottom: 1px solid #ddd; /* 修改为只有底部边框 */
    padding: 9px 15px; /* 增加填充以改善视觉效果 */
    text-align: center; /* 文本居中 */
}

th {
    background-color: #5f87a0; /* 更深的天蓝色为表头 */
    color: white; /* 表头文字颜色 */
}

tr:last-child th, tr:last-child td {
    border-bottom: none; /* 移除最后一行的底部边框 */
}

tr:nth-child(even) {
    background-color: #f4f7f9; /* 更轻的条纹颜色提高对比度 */
}

/* 按钮样式 */
button {
    border: none;
    padding: 8px 16px;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5f87a0; /* 深天蓝色背景与表头一致 */
    color: white;
}

button:hover {
    background-color: #87CEFA; /* 鼠标悬浮时颜色 */
}

/* 模态框和表单的样式 */
.modal-header {
    color: white;
    background-color: #5f87a0; /* 与表头背景色一致 */
}

.modal-body {
    padding: 20px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav{
    text-align: right;
    padding:10px 20px 10px 10px;
}



/* 基础样式调整，以适应移动设备 */
@media (max-width: 768px) {
    .content {
        width: 100%; /* 在小屏幕上占满整个可视区域 */
        float: none; /* 取消浮动 */
        padding: 5px; /* 减少内边距 */
        max-height: none; /* 移除最大高度限制 */
    }

    table {
        width: 100%;
        overflow-x: auto; /* 允许表格水平滚动 */
        display: block;
    }

    th, td {
        padding: 8px; /* 减小单元格内边距 */
        white-space: nowrap; /* 防止内容换行 */
    }

    button {
        padding: 6px 12px; /* 调整按钮大小 */
        font-size: 14px; /* 调整字体大小 */
    }

    .form-control, select {
        font-size: 14px; /* 调整表单控件的字体大小 */
        padding: 6px; /* 减小填充 */
    }

    .modal-body, .modal-footer, .modal-header {
        padding: 10px; /* 减少模态框内边距 */
    }

    nav {
        padding: 5px 10px; /* 调整导航栏的内边距 */
        display: flex;
        justify-content: space-between; /* 改进导航项的布局 */
    }
}

/* 设定特定的颜色、边框等美观元素 */
.button, .form-control, select, input {
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* 调整导航和页脚 */
footer, header {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
