.homepage {
    margin: 0px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.dashboard {
    background-color: #f9f9f9;
    padding:5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.order-item {
    padding: 10px;
    background-color: #e0f7fa;
    border: 1px solid #00796b;
    margin: 15px auto;
    width: 90%;
    border-radius: 4px;
    font-size: 1.1em;
    display: flex;
    text-align: left;
    line-height: 40px;
    font-size: 17px;
}

.home-check{
    height: 45px;
    width: 60px;
    
}

.order-item:hover {
    background-color: #b2dfdb;
    cursor: pointer;
}

.dashboard p {
    font-size: 1.1em;
    color: #757575;
    text-align: center;
}

.block-group{
    display: flex;
    margin: 0;
    padding: 0;
}
.block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
    width: 50%;
}
.block div {
    width: 100%;
    max-height: 450px;
    min-height: 300px;
    overflow: auto;
}

/* 按钮样式 */
button {
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #5f87a0; /* 深天蓝色背景与表头一致 */
    color: white;
}

button:hover {
    background-color: #87CEFA; /* 鼠标悬浮时颜色 */
}

/* 容器的布局，使用 Flexbox */
.navGroup {
    display: flex;
    justify-content: space-between; /* 水平分布 */
    flex-wrap: wrap; /* 在小屏幕上换行 */
    gap: 20px; /* 各个统计项之间的间距 */
    margin: 20px 0; /* 上下间距 */
    padding: 10px;
}

/* 每个统计项的样式 */
.countGroup {
    flex: 1; /* 每个统计项占据相同的宽度 */
    min-width: 200px; /* 最小宽度限制，避免太窄 */
    text-align: center; /* 文本居中 */
    background-color: #f5f5f5; /* 背景色 */
    border-radius: 8px; /* 圆角 */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    font-size: 1.1rem;
    color: #333; /* 文本颜色 */
}

.countGroup p, .projTitle{
    font-weight: bolder;
    font-size: 25px;
    margin-top: 20px;
    color: #5f87a0;;
}
