/* Pagination.css */
.pagination-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.pagination {
    margin: 20px 0px 0px 0px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

.pagination li {
    margin: 0 5px;
    border-radius: 50%; /* 球型 */
    overflow: hidden; /* 确保内容不溢出 */
    width: 50px; /* 设置宽度 */
    height: 35px; /* 设置高度 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    transition: background-color 0.3s, transform 0.3s; /* 平滑过渡效果 */
}

.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #5f87a0; /* 蓝色文本 */
    text-decoration: none;
    font-weight: bold;

}

.pagination li a:hover,
.pagination li a.active {
    background-color: #5f87a0; /* 蓝色背景 */
    color: white; /* 白色文本 */
    cursor: pointer;

    transform: scale(1.1); /* 鼠标悬停时轻微放大 */
    transition: background-color 0.3s ease, transform 0.3s ease; /* 过渡效果 */
}

.pagination-item.active{
    background-color: #5f87a0; /* 或者任何你想要的背景颜色 */
}

.pagination-item.active a{
    color: white;

}





