/* Sidebar.css */

/* 侧边栏的基础样式 */
.sidebar {
    width: 15%;
    float: left;
    background-color: #f0f0f0;
    height: 100vh; /* 全屏高度 */
    padding: 20px;
    box-sizing: border-box;
}

/* 侧边栏标题样式 */
.sidebar h3 {
    color: #0366d6; /* 深蓝色 */
    text-align: center;
    padding-bottom: 20px;

}

/* 无序列表样式 */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

/* 列表项样式 */
.sidebar li {
    padding: 10px;
    background-color: #e8f4fa; /* 浅天蓝色背景 */
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    color: #0366d6; /* 深蓝色文字 */
    font-weight: bolder;
}

/* 鼠标悬停效果 */
.sidebar li:hover {
    background-color: #0366d6; /* 深蓝色背景 */
    color: #ffffff; /* 白色文字 */
}

/* 当前选中的列表项 */
.sidebar li.active {
    background-color: #024d86; /* 更深的蓝色 */
    color: #ffffff;
}

/* 为logo设置自适应样式 */
.sidebar-logo {
    width: 100%;    /* 设置宽度为100%，以适应父容器 */
    height: auto;   /* 自动调整高度，保持纵横比 */
    margin: 10px 0; /* 可选：添加一些上下间距 */
    border-bottom: 2px solid #0366d6;


}


/* logo容器 */
.logo-container {
    position: relative;
    width: 100%;
    height: auto;
}

/* 为logo设置自适应样式 */
.sidebar-logo {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

/* 隐藏文本，默认情况下不显示 */
.home-link {
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 完全居中 */
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none; /* 不干扰图片的点击事件 */
    transition: opacity 0.3s ease; /* 添加渐变效果 */
}

/* 悬浮时显示文本 */
.logo-container:hover .home-link {
    opacity: 1;
}
