.chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows the charts to wrap onto the next line */

    align-items: center;
    padding: 10px;
    height: 760px; /* Adjust height as needed */
    overflow: scroll;
}

.bar-chart, .pie-chart {
    flex: 1 1 50%; /* Sets the basis for each chart to 50% of the container's width */
    max-width: 48%; /* Slightly less than half to fit two charts per line with padding/margin */
    height: 360px; /* Adjust height as needed */
    margin: 0px;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
